apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-ml-app
  labels:
    app: weather-ml-app
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: weather-ml-app
  template:
    metadata:
      labels:
        app: weather-ml-app
    spec:
      containers:
      - name: weather-ml-app
        # CD.yml will replace this line to point to your Docker Hub user + SHA tag
        image: docker.io/kdonohoe1/weather-ml-app:v2
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 10
