- name: Ensure user is in docker group
  hosts: localhost
  become: yes

  tasks:
    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Download Minikube
      get_url:
        url: https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
        dest: /usr/local/bin/minikube
        mode: '0755'

- name: Start Minikube as user
  hosts: localhost
  become: no
  remote_user: ubuntu

  tasks:
    - name: Start Minikube using Docker driver
      shell: minikube start --driver=docker
      register: minikube_start

    - name: Show minikube start output
      debug:
        var: minikube_start.stdout
