name: CD
on:
  workflow_run:
    workflows: [ "CI" ]
    types: [ completed ]

jobs:
  cd-skeleton:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    steps:
      - name: Prove CD runner works
        run: echo "CD runner alive after CI success"
